<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer contraseña a asistencia Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">restablecer</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="icono-containedor">
    <ion-icon name="person-circle-outline" style="font-size: 80px; color: #696969;"></ion-icon>
  </div>

  <div class="contenedor">
    <ion-input label="Ingresa usuario" label-placement="floating" fill="outline" placeholder="Email@gmail.com"></ion-input>
  </div>

  <div class="boton" ><a href="/acceso"><ion-button color="success">RECUPERAR</ion-button>
    
  </a></div>
 
  <div class="enlace-cont">
    <a href="/acceso">
      <small>Volver</small>
    </a>
  </div>


</ion-content>
