.icono-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -50px; 
  height: 40vh;
  position:relative;
  left: 580px;
}

.contenedor-usuario {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  width: 300px; 
  margin: 0 auto;
}

.boton {
  margin-top: 20px;
  display: block;
  position: relative;
  left: 587px;
}

/* Estilo para el logo de Duoc */
.logo-duoc {
  max-width: 80px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

/* Estilo para el texto "Volver" */
.volver {
  margin-top: 20px;
  display: block;
  position: relative;
  left: 587px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
}

ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
