<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido a asistencia Duoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">acceso</ion-title>
    </ion-toolbar>
  </ion-header>



  <div class="contenedor.todo">
  <ion-item class="contenedor">
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input placeholder="" minlength="3" maxlength="8"></ion-input>
  </ion-item>

  <ion-item class="contenedor">
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input type="password" minlength="4" maxlength="4"></ion-input>
  </ion-item>
  <a>
    <small>restablecer contraseña</small>
  </a>

  <ion-button color="success">Acceder</ion-button>

  </div>
</ion-content>
