<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="logo-duoc" src="assets/images/Duoc.jpg" alt="duoc">
    <ion-title>Bienvenido a asistencia Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acceso</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
    <!-- Icono de usuario -->
    <ion-item class="icono-contenedor">
      <ion-icon name="person-circle-outline" style="font-size: 80px; color: #696969;"></ion-icon>
    </ion-item>

    <!-- Input de usuario -->
    <ion-item class="contenedor">
      <ion-input [(ngModel)]="user.usuario" label="Ingrese usuario" label-placement="floating" fill="outline" placeholder="Email@gmail.com"></ion-input>
    </ion-item>

    <!-- Input de contraseña -->
    <ion-item class="contenedor">
      <ion-input [(ngModel)]="user.password" type="password" maxlength="8" label="Ingrese contraseña" label-placement="floating" fill="outline" placeholder="Contraseña"></ion-input>
    </ion-item>

    <!-- Mensajes de error -->
    <ion-item *ngIf="errorMessage" lines="none" class="error-message-container">
      <p style="color: red;">{{ errorMessage }}</p>
    </ion-item>

    <!-- Botón para ingresar -->
    <ion-item class="boton">
      <ion-button (click)="ingresar()">INGRESAR</ion-button>
    </ion-item>

    <!-- Enlace para restablecer la contraseña -->
    <ion-item lines="none" class="recuperar-container">
      <p (click)="recuperar()" style="cursor: pointer; color: rgb(0, 0, 0);">Recuperar contraseña</p>
    </ion-item>

  </ion-card-content>
</ion-content>
