<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="logo-duoc" src="assets/images/Duoc.jpg" alt="duoc">
    <ion-title>Bienvenido a asistencia Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  <!-- Aquí va el contenido de tu página -->
  <ion-item *ngIf="!loading" class="contenedorfecha">
    <!-- Mostrar la fecha y la hora actuales en un div -->
    <p>Hoy: {{ fechaHoy }}</p>
    </ion-item>

    <ion-item class="fechah3">
      <h3>Registra tu asistencia {{user.usuario}}</h3>
    </ion-item>

    <ion-item class="camara">
    <img src="assets/images/camara.png" alt="camara">
  </ion-item>

</ion-content>