.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

/* Ajustamos el estilo de ion-toolbar para centrar el contenido */
ion-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center;
}

/* Estilo para el logo de Duoc */
.logo-duoc {
  max-width: 80px; /* Tamaño del logo */
  height: auto;
  margin-bottom: 10px; /* Añade un margen entre el logo y el texto */
}

/* Estilos para el contenedor de la fecha */
.contenedorfecha {
  display: flex;
  justify-content: flex-end; /* Alinea el enlace a la derecha del contenedor */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  margin-top: 10px; /* Ajusta el margen superior si es necesario */
  position: relative;
  left: 600px;
}

/* Estilo para el nuevo título */
.fechah3 {
  display: flex;
  justify-content: flex-end; /* Alinea el enlace a la derecha del contenedor */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  margin-top: 10px; /* Ajusta el margen superior si es necesario */
  position: relative;
  left: 600px;
}

/* Estilo para la imagen de la cámara */
.camara img {
  max-width: 100px; /* Ajusta el tamaño de la imagen */
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Aseguramos que ion-item esté centrado */
ion-item {
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  justify-content: center; /* Centra el contenido */
  align-items: center;
  text-align: center;
}


.salir-container {
  display: flex;
  justify-content: flex-end; /* Alinea el enlace a la derecha del contenedor */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  margin-top: 10px; /* Ajusta el margen superior si es necesario */
  position: relative;
  left: 600px;
  text-decoration: underline;
}

.icono-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -80px; 
  height: 40vh;
  position:relative;
  left: 580px;
}

