ion-header {
  --border: none; /* Elimina los bordes */
}


.icono-containedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -50px; 
  height: 40vh;
  position:relative;
  left: -2px;
}

.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  width: 300px; 
  margin: 0 auto;
}


#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}



/* Ajustamos el estilo de ion-toolbar para centrar el contenido */
ion-toolbar {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center;
}

/* Estilo para el logo de Duoc */
.logo-duoc {
  max-width: 80px; /* Ajusta el tamaño del logo */
  height: auto;
  margin-right: 10px; /* Opcional: agrega espacio entre el logo y el texto */
  vertical-align: middle; /* Alinea el logo con el texto */
}

/* Estilos para el contenedor de la fecha */
.fecha-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.fecha-container p {
  font-size: 18px;
  font-weight: bold;
}

/* Estilo para el nuevo título */
.fecha-container h3 {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
}

/* Estilo para la imagen */
.fecha-container img {
  max-width: 80px;
  margin-top: 15px;
  display: block;
}