<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="logo-duoc" src="assets/images/Duoc.jpg" alt="duoc">
    <ion-title>Bienvenido a asistencia Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  <!-- Contenedor para la fecha -->
  <ion-item *ngIf="!loading" lines="none" class="contenedorfecha">
    <p>Hoy: {{ fechaHoy }}</p>
  </ion-item>

  <!-- Contenedor para el título con usuario -->
  <ion-item *ngIf="!loading" lines="none" class="fechah3">
    <h3>"Bienvenido {{ user.usuario }}"</h3>
  </ion-item>

  <!-- Contenedor para la imagen de la cámara -->
  <ion-item *ngIf="!loading" lines="none" class="camara">
    <img src="assets/images/camara.png" alt="camara">
  </ion-item>

  <!-- Agregar el enlace de "Salir" al final de la página -->
  <ion-item *ngIf="!loading" lines="none" class="salir-container">
    <p (click)="salir()" style="cursor: pointer; color: rgb(0, 0, 0);">Salir</p>
  </ion-item>

</ion-content>